<link href="static/style/templatemo_style.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="static/style/js/jquery.min.js"></script>
<script type="text/javascript" src="static/style/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="static/style/js/jquery.localscroll-min.js"></script>
<script type="text/javascript" src="static/style/js/init.js"></script>

<link rel="stylesheet" href="static/style/css/slimbox2.css" type="text/css" media="screen"/>
<script type="text/JavaScript" src="static/style/js/slimbox2.js"></script>

<link rel="stylesheet" href="static/style/css/orman.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="static/style/css/nivo-slider.css" type="text/css" media="screen"/>