<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{% block title %} Elektroniczne wybory {% endblock %} </title>

    <meta name="description" content="Elektroniczne wybory. Strona umożliwia oddawanie głosów online."/>

    {% include "base_style.html" %}

</head>
<body>
<div id="templatemo_wrapper">
    <div id="templatemo_header">
        <div id="site_title"><a rel="nofollow" href="" rel="nofollow" target="_parent"> Wybory</a></div>
        <ul class="nav_menu">
            <li><a href="static/style/#home">Home</a></li>
            <li><a href="kandydaci">Kandydaci</a></li>
            <li><a href="glosuj">Glosuj</a></li>
            <li><a href="#admin">Admin</a></li>
            <li><a href="#gallery">Contact</a></li>
        </ul>

        <p>
            © KapSter <br/>
            <a class="no_links" href="http://pl.hiresimage.com" title="Obraz wysokiej rozdzielczości" target="_blank">Obraz
                wysokiej rozdzielczości</a>
            <a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_378_Elektroniczne wybory"
               rel="nofollow" target="_parent">Elektroniczne wybory</a> by<br/>
            <a href="http://www.templatemo.com" rel="nofollow" target="_parent">templatemo</a><br/>
        </p>
    </div>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>