{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block menu %}
    <li><a href="index">Głosowanie</a></li>
    <li><a href="kandydaci" class="selected">Kandydaci</a></li>
    <li><a href="kontakt">Kontakt</a></li>
    <li><a href="administrator">Admin</a></li>
{% endblock %}

{% block cand %}
    <div class="templatemo_fwc fwc_box">

        {% for candidate in candidates %}
            <div class="box_w200" id="{{ candidate.nazwisko }}">
                <div class="image_wrapper"><span></span>
                    <img alt="{{ candidate.nazwisko }}" src="{{ candidate.zdjecie }}" />
                </div>
                <div class="sb_box_wrapper">
                    <div class="sb_box2">
                        <div class="image_cap">
                            <p>Imię: {{ candidate.imie }}</p>
                            <p>Nazwisko: {{ candidate.nazwisko }}</p>
                            <p>Wiek: {{ candidate.wiek }}</p>
                            <p>Partia: {{ candidate.partia }}</p>
                            <p>Hasło wyborcze: "{{ candidate.haslo }}"</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}