{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block menu %}
    <li><a href="index">Głosowanie</a></li>
    <li><a href="kandydaci">Kandydaci</a></li>
    <li><a href="kontakt" class="selected">Kontakt</a></li>
    <li><a href="administrator">Admin</a></li>
{% endblock %}

{% block contact_form %}
    <div class="templatemo_post">
        <p> Totaj możesz zgłosić problemy z oddaniem głosu </p>

        <div id="contact_form">
            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}

		{% if message %}
			<h1> {{ message }} </h1>
		{% else %}
            <form action="kontakt" method="post" name="contact">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                
                <input type="submit" value="Wyślij">
            </form>
		{% endif %}
        </div>

        <div class="cleaner"></div>
    </div>

{% endblock %}
