{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block menu %}
            <li><a href="" class="selected">Głosowanie</a></li>
            <li><a href="kandydaci">Kandydaci</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            <li><a href="administrator">Panel administracyjny</a></li>
{% endblock %}

{% block slider %}
{% for kandydat in lista_kandydatow %}
<div class="cs_article">
	<div class="slider_image_wrapper"><span></span>                    	
		<img src="{{ kandydat.zdjecie }}" alt="slider image 1" />
        </div>                    
        <div class="cs_article_des">

            <h2>{{ kandydat.imie }} {{ kandydat.nazwisko }}</h2>

            <p>{{ kandydat.haslo }}</p>
            <a class="more float_r" href="kandydaci#{{ kandydat.nazwisko }}"><span>Details</span></a>
        </div>                          
</div><!-- End cs_article -->               

{% endfor %}
{% endblock %}
