{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block menu %}
            <li><a href="" class="selected">Głosowanie</a></li>
            <li><a href="kandydaci">Kandydaci</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            <li><a href="administrator">Admin</a></li>
{% endblock %}

{% block slider %}
{% for kandydat in lista_kandydatow %}
<div class="cs_article">
	<div class="slider_image_wrapper"><span></span>                    	
		<img src="{{ kandydat.zdjecie }}" alt="slider image 1" />
        </div>                    
        <div class="cs_article_des">

            <h2>{{ kandydat.imie }} {{ kandydat.nazwisko }}</h2>

            <p>{{ kandydat.haslo }}</p>
            <a class="more float_r" href="kandydaci#{{ kandydat.nazwisko }}"><span>Details</span></a>
        </div>                          
</div><!-- End cs_article -->               

{% endfor %}
{% endblock %}

{% block vote_form %}
    <h2>Oddaj głos</h2>
    <div id="contact_form">
        <form action="" method="get">
            <p>Imie: <input type="text" name="firstName" class="input_field"></p>

            <p>Nazwisko: <input type="text" name="lastName" class="input_field"></p>

            <p>PESEL: <input type="text" name="pesel" class="input_field"></p>

            <p>Nr dowodu: <input type="password" name="pass" class="input_field"></p>

            <p>Kadydat:
                <select>
                    {% for kandydat in lista_kandydatow %}
                        <option value="{{ kandydat }}"
                                class="combobox">{{ kandydat.imie }} {{ kandydat.nazwisko }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><input type="submit" value="Głosuj!" class="submit_btn"></p>
        </form>
    </div>
    <p>This is free template by templatemo that can be used for any purpose. Validate <a
            href="static/http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a
            href="static/http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.
        Praesent vel posuere velit. Donec et sagittis justo. Aenean non massa dignissim, laoreet nunc a, venenatis
        velit. Etiam malesuada risus orci. Nam feugiat suscipit elementum. Vivamus at arcu facilisis, vestibulum mauris
        pulvinar, blandit est. Praesent eget enim consequat, tincidunt ligula in, porttitor justo.</p>
    <ul class="templatemo_list">
        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
        <li>Vivamus in nunc quis leo pellentesque consequat sit amet quis diam</li>
        <li>Pellentesque auctor hendrerit ligula, ac rutrum ante blandit et</li>
        <li>Ut enim ad minima veniam, quis nostrum exercitationem</li>
        <li>Donec elementum porta augue id bibendum</li>
    </ul>
    <p>Etiam pulvinar nisl eu ipsum elementum, et tempus tellus imperdiet. Suspendisse sit amet magna scelerisque,
        pretium quam eu, luctus massa. Etiam suscipit eleifend tellus quis dignissim. Etiam ante massa, porta ut dolor
        a, sagittis gravida velit. Fusce fermentum congue elit, ac lacinia arcu volutpat ut. Aenean facilisis orci sed
        nibh gravida, euismod molestie est viverra. Aliquam non tincidunt nunc, ut consectetur lacus. Vestibulum sodales
        purus lorem, ut sagittis mi tristique ac. Suspendisse sit amet neque at mauris lacinia dignissim.</p>

{% endblock %}